html {
    height: 100%;
}

body {
    height: 100%;
}

.main-wrapper {
    height: 100%;
}

#root {
    height: 100%;
}

a, div, h1, h2, h3, h4, input, p, li, ul {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

ul {
    margin-left: 0px, 0px, 0px ,0px;
    display: block;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    padding: 0;
}



input:focus {
    outline-width: 0;
}


// Below is mixin example to reuse css for elements that
// should have similar styles
// @mixin button($num, $color) {
    // font-weight: 800;
    // padding: $num;
    // &:hover { color: $color}
// }

// .sign-in-button {
//     @include button(25px, "red")
// }

// USE THIS
// @mixin center($direction) {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: $direction;
// }