// Place all the styles related to the api/pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// To get a grid with flex, try 3 divs where flex dir is row and within each div, elements where div
// is flex dir column
@import "./01_header.scss";

.home-feed {
    height: 100%;
    margin-top: 85px;
    padding-bottom: 24px;
    height: auto;
    @include center(row, center)
}

.pins-grid-container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: hidden;
}

.pin-wrapper {
    margin-bottom: 20px;
    min-width: 252px;
    max-width: 252px;
    max-height: 418px;
    border: none;
}

.pin-image > img {
    max-height: 376px;
    height: 95%;
    width: 100%;
    border-radius: 16px;
}