// Place all the styles related to the api/pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// To get a grid with flex, try 3 divs where flex dir is row and within each div, elements where div
// is flex dir column
@import "./01_header.scss";

.home-feed {
    height: 100%;
    width: 100%;
    margin-top: 85px;
    padding-bottom: 24px;
    height: auto;
    @include center(row, center)
}

.pins-grid-container {
    height: 100%;
    width: 93%;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-auto-rows: 10px;

}

.pin-wrapper {
    width: 230px;
    background-color: transparent;
    border-radius: 18px;
    box-sizing: border-box;
    align-items: center;
    cursor: zoom-in;
    margin-bottom: 50px;

    &:hover .pin-hover-to-save {
        z-index: 99;
        opacity: 1;
    }

    &:hover .pin-item-img {
        z-index: -1;
        filter: brightness(60%)
    }

    &:nth-child(n+2) {
        grid-row-end: span 20;
    }

    &:nth-child(2n) {
        grid-row-end: span 25;
    }

    &:nth-child(3n+1) {
        grid-row-end: span 33;
    }

    &:nth-child(3n+3) {
        grid-row-end: span 38;
    }

    &:nth-child(4n) {
        grid-row-end: span 42;
    }

    & .pin-title {
        margin-top: -20px;
        font-size: 15px;
        font-weight: 600;
    }

}

.pin-item-img {
    z-index: -1;
    width: 230px;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
    box-sizing: border-box;
    align-items: center;
    cursor: zoom-in;
    margin-bottom: 25px;
}

.pin-hover-to-save {
    position: absolute;
    opacity: 0;
    width: 200px;
    padding: 15px;
    color: white;

    & .user-board-list-wrap {
        width: 100%;
        @include center(row, space-between);

        & .save-options {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 40px;

            & .board-select-box {
                margin-left: 20px;
                width: 40px;
            }

            & .save-board, span {
                color: white;
            }
        }
    }
}