// Place all the styles related to the Pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./01_header.scss";

.new-pin-container {
    height: 100%;
    width: 100%;
    background-color: #efefef;
    border: none;
    position: relative;
    @include center('row', 'center')
}

.new-pin-form {
    background-color: white;
    height: 650px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 16px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
}

.pin-form-header {
    // @include center('row', 'space-between');
    display: flex;
    justify-content:space-between;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    width: 800px;
    
}

.fa-ellipsis {
    background-color: black;
    color: black;
}

.pin-form-submission {
    width: 240px;
    @include center('row', 'space-between');

}

.pin-board-selector {
    width: 175px;
    border-radius: 8px 0px 0px 8px;
    background-color: #efefef;
    height: 40px;
    cursor: pointer;
    @include center(row, flex-start);
    & p {
        margin-left: 20px;
    }
}

.pin-save-button {
    background-color: rgb(230, 0, 35);
    width: 65px;
    height: 40px;
    cursor: pointer;
    @include center('row', 'center');
    & button {
        color: white;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
    }
    border-radius: 0px 8px 8px 0px;
}

.pin-form-main-body {
    @include center('column', 'center');
}

.pin-form-image-container {
    width: 300px;
    height: 454px;
    padding: 0px 20px 0px 20px;
    @include center(row, center);
    border-radius: 8px;
    background-color: #efefef;
    float: left;
    
}

.upload-image-container {
    @include center(row, center);
    &:first-child {
        position: absolute;
    }
}

.dotted-border {
    border-radius: 8px;
    width: 300px;
    height: 414px;
    border: 2px rgb(218, 218, 218) dashed;
    @include center(row, center);
    // padding: 15px;
    }


.image-upload-box {
    // background-color: transparent;
    opacity: 0;
    margin-top: 5px;
    width: 340px;
    height: 454px;
    cursor: pointer;
    // z-index: 10;
    border-radius: 8px;
    visibility: hidden;
    display:none;
}


.input-label {
    width: 340px;
    height: 454px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    // z-index: 10;
    border-radius: 8px;
    padding: 0;

    & .upload-icon {
        font-size: 30px;
        margin-right: auto;
        margin-left: auto;
        color: #efefef;
        background-color: #737373;
        border-radius: 50%;
        margin-bottom: 20px;
    }

    & p {
        width: 200px;
        font-size: 17px;
    }

}

.pin-form-text-container {
    width: 380px;
    padding-left: 40px;
    padding-right: 20px;
    height: 446px;
}

.pin-title-input {
    height: 46px;
    font-size: 36px;
    font-weight: 700;
    width: 100%;
    cursor: text;
    border: none;
    padding-bottom: 10px;
    border-bottom: 1px solid black;

    &:focus {
        border-bottom: 2px solid blue;
    }
}

.pin-desc-input {
    height: 46px;
    font-size: 17px;
    width: 100%;
    cursor: text;
    border: none;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;

    &:focus {
        border-bottom: 2px solid blue;
    }
}

.pin-desc-input::placeholder {
    color: #b7b7b7;
}

;

.image-preview > img {
    width: 340px;
    height: 454px;
    border-radius: 8px;
}

.text-area-container {
    padding-bottom: 30px;
}

.current-user-container {
    padding-bottom: 30px;
    height: 48px;
}