@import "./01_header.scss";

.main-profile-container {
    padding-top: 40px;
    height: 100%;
    width: 100%;
    
}

.profile-wrapper {
    margin-top: 50px;
    @include center('row', 'center');
    align-items: center;
}

.user-details{
    height: 300px;
    width: 488px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#user-profile-pic {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
    border-radius: 50%;
}

.user-data {
    @include center(row, center)
}

.add-board-section {
    width: 100%;
    height: 42px;
    @include center(row, flex-end);

    & .add-board-button {
        margin-right: 45px;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background-color: #efefef;
        border: 1px solid black;
        cursor: pointer;

        &:hover {
            background-color: #e2e2e2;
        }
    }

    & .material-symbols-outlined {
        font-weight: 800;
    }
}

.saved-content {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.boards-index-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.board-wrapper {
    width: 236px;
    height: 236px;
    margin: 0px 12px 12px 12px;

    & .board-info-box {
        margin-top: -45px;
    }

    & .board-pin-count {
        margin-top: -10px;

        & h4 {
            font-size: 14px;
            font-weight: 300;
        }
    }
}

.board-image-box {
        width: 100%;
        height: 100%;
        @include center(row, center);

        & .board-image-big img {
            width: 157px;
            height: 157px;
            border-radius: 12px 0px 0px 12px;
            margin-right: 3px;
            background-color: #efefef;
        }

        & .board-image-smalls {
            width: 78px;
            height: 157px;
            margin: 0px;

            & #board-image-2{
                margin-top: -1px;
            }

            & #board-image-2 img {
                width: 77px;
                height: 77.2px;
                border-radius: 0px 12px 0px 0px;
                margin: 0px;
                background-color: #efefef;
            }

            & #board-image-3 img {
                width: 77px;
                height: 77.2px;
                border-radius: 0px 0px 12px 0px;
                margin: 0px;
                background-color: #efefef;
            }
        }
    }

