@import "./01_header.scss";

.pin-show-main-wrap {
    height: 100%;
    width: 100%;
    margin-top: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.pin-show-box {
    margin-top: 40px;
    width: 980px;
    height: 760px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 10%) 0px 1px 20px 0px;
    border-radius: 32px;
}

.pin-show-image {
    width: 508px;
    height: 760px;

}

.pin-show-image img {
    width: 100%;
    height: 100%;
    border-radius: 16px 0px 0px 16px;
}

.pin-show-data {
    width: 404px;
    padding-left: 32px;
    padding-right: 32px;
}

.pin-show-options {
    margin-top: 32px;
}

.pin-show-options {
    @include center(row, space-between);
}

.closeup-action-items {
    width: 145px;
    @include center(row, flex-start);
    

    & div {
        cursor: pointer;
        width: 48px;
        height: 48px;
        @include center(row, center);
        border-radius: 50%;

        &:hover {
            background-color: #efefef;
        }
    }
    & .fa {
        color: black;
        font-size: 22px;
    }
    

    & .edit-dropdown-items {
        display: none;
        position: absolute;
        box-shadow: rgba(0, 0, 0, 10%) 0px 1px 20px 0px;
        z-index: 1;
        border-radius: 16px;
        width: 160px;
        max-height: 110px;

        & .edit-item {
            width: 85%;
            height: 40px;
            border-radius: 10px;
            margin-left: 4px;
            margin-right: 6px;
            margin-bottom: 5px;
            margin-top: 5px;
            padding-left: 10px;
            @include center(row, flex-start);

            &:hover {
                font-weight: bold;
            }
        }
    }

}

.save-options {
    width: 236px;
    @include center(row, space-between);

    & div {
        cursor: pointer;
        text-align: center;
        width: 166px;
    }

    & button {
        background-color: rgb(230, 0, 35);
        width: 70px;
        height: 48px;
        border-radius: 24px;
        color: white;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;

        &:hover {
            background-color: #ad081b;
        }
    }
}

.pin-show-title {
    padding-top: 20px;
    padding-left: 10px;
    margin-bottom: 10px;

    & h1 {
        font-size: 36px;
        margin-bottom: 10px;
    }
}

.pin-show-description {
    padding-left: 10px;
}

.pin-show-user-container {
    @include center(row, space-between);

    margin-top: 25px;

    & div:last-child {
        @include center(column, center);

        & button {
            width: 80px;
            height: 48px;
            background-color: #efefef;
            border-radius: 28px;
            font-size: 16px;
            cursor: pointer;

            &:hover {
                background-color: #e2e2e2;
            }
        }
    }
}

.pin-user {
    @include center(row, flex-start);
    width: 360px;

    & .pin-user-icon {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        @include center(row, center);
        background-color: #efefef;
        cursor: pointer;
    }

    & .pin-user-info {
        padding-left: 13px;

        & div:first-child {
            font-weight: bold;
            cursor: pointer;
        }

        & div:last-child {
            font-size: 14px;
        }

    }
}
