@import "./01_header.scss";

.user-board-list-wrap {
    @include center(row, space-between)
}
.board-dropmenu-container {
    z-index: 9999;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 10%) 0px 1px 20px 0px;
    position: absolute;
    margin-top: 420px;
    width: 360px;
    overflow-y: scroll;
    cursor: default;
    background-color: white;
    @include center(column, center);
    
    & h3 {
        margin-left: 15px;
    }

    & .board-save-items-wrap {
        z-index: 9999;
        margin-right: 15px;
        margin-left: 15px;
        width: 93%;

        & span {
                margin-left: 15px;
            }
    }
}

.board-select-box {
    @include center(row, space-between)
}

.board-save-item-container {
    @include center(row, space-between);
    z-index: 9999;
    height: 64px;
    border-radius: 9px;

    & h3 {
        font-size: 15px;
        font-weight: 700;
    }

    & button {
        margin-right: 15px;
    }

    &:hover {
        background-color: #efefef;
    }

}

.board-save-button {
    width: 70px;
    height: 40px;
}